<?php

$dbhost = 'db_host'; //
$dbuser = 'db_user'; // FILL IN!
$dbpass = 'db_pass'; //

$conn = mysql_connect($dbhost, $dbuser, $dbpass)
    or die ('Error connecting to database');

$dbname = 'db_name';
mysql_select_db($dbname);
?>
